body {
    margin: 0;
    font-family:'arial';
    
}


h1{
    background-color: green;
    color: white;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 8px solid greenyellow; 
}
table{
    border: 6px solid green;

}

table tr td{
    border: 1px solid green;
}

table thead tr td{
    background-color:rgb(74, 180, 74);
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

table tbody tr:first-child td {
    background-color:rgb(114, 217, 114) ;
   font-weight: bold;
    text-align: center;
}

table tfoot tr td{
    text-align: center;
    background-color: rgb(114, 217, 114);
}


body div{
    margin-left: 20px;
    
}

#div3{
    display: inline-table;
}
